html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.playArea {
    border: 1px solid black;
    cursor: pointer;
    background: orange;
}

.activeGood {
    background: red;
}

.activeBad {
    background: black;
}

#game {
    height: 70vh;
}

@media screen and (max-width: 992px){
    #menu{
        display: flex;
        flex-direction: column-reverse;
    }

    #result{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #hardLevelNavigation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

#coverRound {
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
    height: 98%;
    width: 94%;
    /*background: rgba(0, 0, 0, 0.3);*/
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roundText{
    display: none;
    font-size: 9em;
    font-weight: bold;
    text-align: center;
}

#endGameText{
    font-size: 0.6em;
}

#endGameScoreText{
    font-size: 0.5em;
}
