html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.playArea {
    border: 1px solid black;
    cursor: pointer;
    background: orange;
}

.activeGood {
    background: red;
}

.activeBad {
    background: black;
}

#game {
    height: 70vh;
}

#coverRound {
    position: absolute;
    margin-left: 8%;
    margin-top: 5%;
    height: 80%;
    width: 80%;
    /*background: rgba(0, 0, 0, 0.3);*/
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coverRound h1{
    font-size: 7em;
    font-weight: bold;
}
